﻿@model CourseWork.Models.serviceList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>serviceList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
