﻿@model IEnumerable<CourseWork.Models.staff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.login)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.login)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm("Index", "services", FormMethod.Get, new { action = "#search", @id = "search" }))
{
    var fromInit = (new DateTime(2018, 1, 1)).ToString().Substring(0, 10);
    var toInit = (new DateTime(2018, 12, 31)).ToString().Substring(0, 10);

    <div class="form-horizontal">
        <h4>Вкажіть період для розрахунку статистики</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-1">
                <label for="from">Year: </label>
            </div>
            <div class="col-md-3">
                <input type="number" name="year" id="year" value="@ViewBag.year" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Пошук</button>
            </div>
        </div>
    </div>
}


<canvas id="myChart" style="height: 300px"></canvas>


<script>
    let data = @Html.Raw(Json.Encode(ViewBag.data))
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'pie',
        fill: true,
        data: {
            labels: data.map(item => item.name),
            datasets: [{
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", '#a7b52b', "#d41fde"],
                data: data.map(item => item.hoursWorked)
            }]
        },

        options: {
            legend: {
                display: true,
                labels: {
                    fontSize: 16
                }
            },
            title: {
                display: true,
                text: 'NAZVA GRAFIKA TUTO// години відпрацьовані командою/людьми із команди',
                fontSize: 20
            }
        }
    });
</script>