﻿@model IEnumerable<CourseWork.Models.order>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by FIO: @Html.TextBox("SearchString_FIO")
        Find by team: @Html.TextBox("SearchString_team")

        Find by start date: <input type="date" name="date_1" />
        Find by finish date: <input type="date" name="date_2" />

        <input type="submit" value="Search" />

    </p>
}
@using (Html.BeginForm("Export", "orders"))
{
    <input type="hidden" name="data" id="data" value="@ViewBag.dataY" />
    <input type="submit" value="Export" />
}

<table class="table">
    <tr>
        <th>
            id
        </th>
        <th>
            @Html.ActionLink("Общая стоимость", "Index", new { sortOrder = ViewBag.PriceTotalSortParm })

        </th>
        <th>
            @Html.ActionLink("Общая продолжительность", "Index", new { sortOrder = ViewBag.HoursTotalSortParm })
        </th>
        <th>
            @Html.ActionLink("Дата начала", "Index", new { sortOrder = ViewBag.DateStartSortParm })
        </th>
        <th>
            @Html.ActionLink("Дата окончания", "Index", new { sortOrder = ViewBag.DateFinishSortParm })
        </th>
        <th>
            @Html.ActionLink("ФИО клиента", "Index", new { sortOrder = ViewBag.ClientFioSortParm })
        </th>
        <th>
            Название команды
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.id
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priceTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoursTotal)
        </td>
        <td>
            @item.startDate.ToString().Substring(0, 10)
        </td>
        <td>
            @item.finishDate.ToString().Substring(0, 10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.fio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |

            @Html.ActionLink("Details", "Index", "serviceLists", new { id = item.id }, null) |

            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
    }
</table>

@using (Html.BeginForm("Index", "services", FormMethod.Get, new { action = "#search", @id = "search" }))
{
    var fromInit = (new DateTime(2018, 1, 1)).ToString().Substring(0, 10);
    var toInit = (new DateTime(2018, 12, 31)).ToString().Substring(0, 10);

    <div class="form-horizontal">
        <h4>Вкажіть період для розрахунку статистики</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-1">
                <label for="from">Year: </label>
            </div>
            <div class="col-md-3">
                <input type="number" name="year" id="year" value="@ViewBag.year" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Пошук</button>
            </div>
        </div>
    </div>
}

<canvas id="myChart1" style="height: 300px"></canvas>

<canvas id="myChart" style="height: 300px"></canvas>


<script>
    let data = @Html.Raw(Json.Encode(ViewBag.data))
    let data11 = @Html.Raw(Json.Encode(ViewBag.data1))
    let monthes = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    let data1 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,]
    for (let i = 0; i < data11.length; i++) {
        data1[data11[i].month - 1] = data11[i].ordersAmount
    }
    console.log(data)

    let hours = data.map(item => item.hoursTotal)
    let price = data.map(item => item.priceTotal)
    let ddata = data.map(item => {
        return {
            x: item.hoursTotal,
            y: item.priceTotal
        }
    })

    function compareRandom(a, b) {
        return Math.random() - 0.5;
    }

    //ddata.sort(compareRandom);
    console.log(ddata)

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        fill: true,
        data: {
            labels: hours,
            datasets: [{
                backgroundColor: "#3e95cd",
                data: ddata
            }]
        },

        options: {
            legend: {
                display: false,
                labels: {

                    fontSize: 16
                }
            },
            title: {
                display: true,
                text: 'Соотношение длительности исполнения заказа и его цены',
                fontSize: 20
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {

                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += ': ';
                        }

                        label += Math.round(tooltipItem.yLabel * 100) / 100 ;
                        return label;
                    }
                }
            }
        }
    });

    var ctx = document.getElementById('myChart1').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        fill: true,
        data: {
            labels: monthes,
            datasets: [{
                backgroundColor: "#3e95cd",
                data: data1,
            }]
        },

        options: {
            legend: {
                display: false,
                labels: {

                    fontSize: 16
                }
            },
            title: {
                display: true,
                text: 'Количество заказов за год',
                fontSize: 20
            }
        }
    });
</script>
