﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("projManager"))
                    {
                        @:<li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                        @:<li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                        @:<li>@Html.ActionLink("Service Lists", "Index", "serviceLists")</li>
                    }
                    @if (User.IsInRole("Employee"))
                    {
                        @:<li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                        @:<li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                        @:<li>@Html.ActionLink("Service Lists", "Index", "serviceLists")</li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        @:<li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                        @:<li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                        @:<li>@Html.ActionLink("Services", "Index", "Services")</li>
                        @:<li>@Html.ActionLink("Service Lists", "Index", "serviceLists")</li>
                        @:<li>@Html.ActionLink("Staffs", "Index", "Staffs")</li>
                        @:<li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                        @:<li>@Html.ActionLink("Users", "Index", "Users1")</li>
                    }
                    @if (User.IsInRole("client"))
                    {
                        @:<li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                    }
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="form-inline my-2 my-md-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Users", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            
                        </ul>
                    </div>
                }
                else
                {
                    <div class="form-inline my-2 my-md-0">
                        <span class="fa-stack fa-2x has-badge" id="globalCounter" data-count="5">
                            <i class="fa fa-circle  fa-inverse"></i>
                            <i style="" class="fa fa-shopping-cart red-cart"></i>
                        </span>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    @Html.ActionLink("My restaurants", "Index", "Restaurants", new { area = "" }, new { @class = "dropdown-item" })
                                    <a class="dropdown-item" href="#">Another action</a>
                                    @Html.ActionLink("Logout", "Logout", "Users", new { area = "" }, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
