﻿@model IEnumerable<CourseWork.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by login: @Html.TextBox("SearchString_login")
        Find by role: @Html.TextBox("SearchString_role")
        <input type="submit" value="Search" />
    </p>
}
@using (Html.BeginForm("Export", "Users1"))
{
    <input type="hidden" name="data" id="data" value="@ViewBag.data" />
    <input type="submit" value="Export" />
}

<table class="table">
    <tr>
        <th>
            Логин
        </th>
        <th>
            Пароль
        </th>
        <th>
            Роль
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
