﻿@model IEnumerable<CourseWork.Models.client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by FIO: @Html.TextBox("SearchString_FIO")
        Find by phone number: @Html.TextBox("SearchString_number")
        Find by address: @Html.TextBox("SearchString_address")
        <input type="submit" value="Search" />
    </p>
}
@using (Html.BeginForm("Export", "Clients"))
{
    <input type="hidden" name="data" id="data" value="@ViewBag.data" />
    <input type="submit" value="Export"  />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ФИО", "Index", new { sortOrder = ViewBag.FioSortParm })

        </th>
        <th>
            Номер телефона
        </th>
        <th>
            Адрес
        </th>
        <th>
            @Html.ActionLink("Дата Регистрации", "Index", new { sortOrder = ViewBag.RegDateSortParm })
        </th>
        <th>
            Логин
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @{
                    var date = item.regDate.ToString().Substring(0, 10);
                }
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.login)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>
