﻿@model CourseWork.Models.order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.priceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoursTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoursTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.fio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.fio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
