﻿@model IEnumerable<CourseWork.Models.serviceList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
<p>
    Find by order: @Html.TextBox("SearchString_order")
    Find by service: @Html.TextBox("SearchString_service")
    Find by worker: @Html.TextBox("SearchString_worker")
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Время выполнения", "Index", new { sortOrder = ViewBag.HoursSortParm })
        </th>
        <th>
            @Html.ActionLink("Статус выполнения", "Index", new { sortOrder = ViewBag.StatusSortParm })
        </th>
        <th>
            @Html.ActionLink("Id заказа", "Index", new { sortOrder = ViewBag.OrderIdSortParm })
        </th>
        <th>
            @Html.ActionLink("ФИО работника", "Index", new { sortOrder = ViewBag.StaffFioSortParm })
        </th>
        <th>
            @Html.ActionLink("Тип работы", "Index", new { sortOrder = ViewBag.WorkTypeSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @item.order.id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
