﻿@model IEnumerable<CourseWork.Models.service>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
<p>
    Find by name: @Html.TextBox("SearchString_name")
    Find by cost от: @Html.TextBox("SearchString_cost_1") до @Html.TextBox("SearchString_cost_2")
    <input type="submit" value="Search" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Название", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Оплата за час", "Index", new { sortOrder = ViewBag.pricePerHourSortParm })

        </th>
        <th>
            Описание
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pricePerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("Index", "services", FormMethod.Get, new { action = "#myChart" }))
{
    var fromInit = (new DateTime(2018, 1, 1)).ToString().Substring(0, 10);
    var toInit = (new DateTime(2018, 12, 31)).ToString().Substring(0, 10);

    <div class="form-horizontal">
        <h4>Вкажіть період для розрахунку статистики</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-1">
                <label for="from">From: </label>
            </div>
            <div class="col-md-3">
                <input type="date" name="from" id="from" value="@ViewBag.from" />
            </div>
            <div class="col-md-1">
                <label for="to">To: </label>
            </div>
            <div class="col-md-3">
                <input type="date" name="to" id="to" value="@ViewBag.to" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Пошук</button>
            </div>
        </div>
    </div>
}
<canvas id="myChart" style="height: 300px"></canvas>

<script>
    let data = @Html.Raw(Json.Encode(ViewBag.pieChartData))
    console.log(data)

    let labels = data.map(item => item.name)
    let totalHours = data[0].totalHours
    let totalHoursByServices = data.map(item => item.totalHoursByService)

    let colors = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", '#a7b52b', "#d41fde", "#3e15cd", "#26ed0c", "#3cba9f", "#3e95cd", "#8e5ea2", "#c45850", '#a7b52b', "#d41fde",];
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'pie',

        data: {
            labels: labels,
            datasets: [{
                backgroundColor: colors,
                data: totalHoursByServices
            }]
        },

        options: {
            legend: {
                display: true,
                labels: {

                    fontSize: 16
                }
            },
            title: {
                display: true,
                text: 'Самые популярные услуги',
                fontSize: 20
            }
        }
    });
</script>
